/*reset*/

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --borde_item:2px hsl(170deg 100% 30%) solid;;
    --color_alfa:#ffffff7a;
    --color_alfa_oscuro:#0000004d;
    --radio_1:0.8rem;
    --radio_2:0.5rem;
    --radio_3:0.3rem;
}
img{
    display:block;
}
body{
    display:grid;
    gap:1rem;
    grid-template-rows:1fr;
    font-family:"calibri";
    background: radial-gradient(circle, #11767c, #2c1e2e);
}
.pokemones{
    justify-self:center;
  
    display:grid;
    gap:1.5rem;
    grid-template-columns:repeat(5,1fr);
    
}
.titulo{
    color:white;
    background:var(--color_alfa_oscuro);
    padding:1rem;
}
.pokemon__holder{
    display:grid;
    place-items:center;
}
.pokemon__card{
    color:white;
    display:grid;
    gap:var(--radio_2);
    justify-items:center;
    align-items:center;
   
    position:relative;
}
.pokemon__id{
    display:grid;
    position:absolute;
    top:.4rem;
    left:.4rem;
    place-items:center;
    font-weight:bold;
    color:white;
    background:hsl(0,0%,10%);
    border-radius:100%;
    width:1.5rem;
    font-size:.6rem;
    text-align:center;
    aspect-ratio:1/1;
    border: var(--borde_item);
}
.pokemon__nombre{

    position:absolute;
    bottom:-.5rem;
    left:0px;
    right:0px;
    text-align:center;
    padding:.2rem 0rem;
    border-radius:1rem;
    background:linear-gradient(
        hsl(180,100%,15%),
        hsl(180,100%,10%)
    );
    text-transform:capitalize;
}
.pokemon__imagen{

    border-radius:100%;
    border:.3rem #824444 solid;

    background:radial-gradient(
        hsl(183 64% 30%),
    hsl(183 64% 45%)
    );
}